export EXPO_PUBLIC_API_URL="http://192.168.0.109:3030"
export EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID="993313171487-i2krjp9jud41f2gaskthevpiiqb0q62t.apps.googleusercontent.com"
export EXPO_PUBLIC__GOOGLE_ANDROID_CLIENT_ID="993313171487-17oksbvitk3uiaim546lhpb5c5ig1739.apps.googleusercontent.com"
